<div class="container">
  <h1 align="left">Photo Gallery</h1>
  <hr/>
  <% @photos.each_slice(4) do |photos| %>
    <div class="row">
      <% photos.each do |photo| %>
        <div class="col-sm">
          <%= image_tag photo.image_url(:thumb) %> <br/>
          <%= link_to photo.name, photo %> <br/>
          By: <%= link_to photo.user.name, photo.user %> <br/>
        </div>
      <% end %>    
    </div>
    <hr/>
  <% end %>
</div>